---
import Section from './Section.astro';
import TextLink from '@components/TextLink.astro';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faEnvelope } from '@fortawesome/free-regular-svg-icons';
import { faGithub } from '@fortawesome/free-brands-svg-icons';
import '@fortawesome/fontawesome-svg-core/styles.css';
import { faHome } from '@fortawesome/free-solid-svg-icons';

export interface Props {
  email: string;
  city: string;
  country: string;
  github?: string;
  class?: string;
}

const { email, city, country, github, class: className, ...rest } = Astro.props;
---

<Section class={className} {...rest}>
  <ul>
    <!-- Email -->
    <li>
      <TextLink class="row" href={`mailto:${email}`}>
        {email}<FontAwesomeIcon icon={faEnvelope} fixedWidth size="lg" />
      </TextLink>
    </li>
    <!-- City, Country -->
    <li class="row">
      {city}, {country}<FontAwesomeIcon icon={faHome} fixedWidth size="lg" />
    </li>
    <!-- GitHub -->
    {
      github && (
        <li>
          <TextLink class="row" href={`https://github.com/${github}`}>
            github.com/{github}
            <FontAwesomeIcon icon={faGithub} fixedWidth size="lg" />
          </TextLink>
        </li>
      )
    }
  </ul>
</Section>

<style lang="scss">
  @import '../variables';

  ul {
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: $space-small;
  }

  .row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $space-xsmall;
  }
</style>
