---
import type { Experience } from '@data/profile';
import Section from './Section.astro';
import TextLink from '@components/TextLink.astro';

interface Props {
  experience: Experience[];
  class?: string;
}

const { experience, class: className, ...rest } = Astro.props;
---

<Section class={className} {...rest}>
  <Fragment slot="title">Experience</Fragment>
  <Fragment slot="default">
    <section class="content">
      {
        experience.map(
          ({ jobTitle, company, startDate, endDate, website, activities }) => (
            <article>
              <TextLink href={website}>
                <h3 class="company">
                  {company} |{' '}
                  <span class="timeperiod">
                    {startDate} - {endDate}
                  </span>
                </h3>
              </TextLink>
              <h2 class="position">{jobTitle}</h2>
              <ul class="activities">
                {activities.map((activity) => (
                  <li class="activity">{activity}</li>
                ))}
              </ul>
            </article>
          ),
        )
      }
    </section>
  </Fragment>
</Section>

<style lang="scss">
  @import '../variables';

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: $font-medium;
  }

  h3 {
    font-size: $font-medium;
  }

  ul {
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $space-small;
  }

  .company {
    color: $accent-color;
  }
</style>
