---
interface Props {
  firstName: string;
  lastName: string;
  position: string;
  description: string;
  class?: string;
}

const {
  firstName,
  lastName,
  position,
  description,
  class: className,
  ...rest
} = Astro.props as Props;
---

<div class={className} {...rest}>
  <h1>
    <span>{firstName}</span>
    <span>{lastName}</span>
  </h1>
  <h2>{position}</h2>
  <p>{description}</p>
</div>

<style lang="scss">
  @import '../variables';

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  h2 {
    text-transform: uppercase;
  }
</style>
