---
import Section from "./Section.astro";
import TextLink from "@components/TextLink.astro";
import { EnvelopeIcon, HomeIcon, GithubIcon } from "@components/Icons.tsx";

export interface Props {
  contact: {
    email: string;
    city: string;
    country: string;
    github: string;
  };
  class?: string;
}

const { contact, class: className, ...rest } = Astro.props;
---
<Section class={className} {...rest}>
  <ul>
    <!-- Email -->
    <li>
      <TextLink class="row" href={`mailto:${contact.email}`}>
        {contact.email}<EnvelopeIcon />
      </TextLink>
    </li>
    <!-- City, Country -->
    <li class="row">
      {contact.city}, { contact.country }<HomeIcon />
    </li>
    <!-- GitHub -->
    <li>
      <TextLink class="row" href={`https://github.com/${contact.github}`}>
        github.com/{contact.github}<GithubIcon />
      </TextLink>
    </li>
  </ul>
</Section>

<style lang="scss">
@import "../variables";

ul {
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: $space-small;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $space-xsmall;
}
</style>
