---
import Section from '@components/Section.astro';
import EducationWorkExperienceItem from './EducationWorkExperienceItem.astro';
import Title from './Title.astro';
import VStack from './VStack.astro';
import {
  isMultiPositionExperience,
  isSinglePositionExperience,
  type Experience,
} from '@data/profile';
import HStack from './HStack.astro';
import Badge from './Badge.astro';
import List from './List.astro';

interface Props {
  experiences: Experience[];
  class?: string;
}

const { experiences, class: className, ...rest } = Astro.props;
---

<Section class={className} {...rest}>
  <Title level="section" text="Work Experience" />
  <VStack gap="1">
    {
      experiences.map((experience) => (
        <EducationWorkExperienceItem
          title={experience.company}
          subTitle={experience.jobTitle}
          startPeriod={experience.startDate}
          endPeriod={experience.endDate}
          url={experience.website}
        >
          <HStack gap="1" wrap class="my-2">
            {experience.techStack.map((item) => (
              <Badge text={item} />
            ))}
          </HStack>

          {isSinglePositionExperience(experience) && (
            <List items={experience.activities} />
          )}

          {isMultiPositionExperience(experience) && (
            <VStack gap="1">
              {experience.positions.map((position) => (
                <VStack>
                  <Title level="subitem" text={position.jobTitle} />
                  <List items={position.activities} />
                </VStack>
              ))}
            </VStack>
          )}
        </EducationWorkExperienceItem>
      ))
    }
  </VStack>
</Section>
